@font-face {
  font-family: ChinaCyr;
  src: local("ChinaCyr"), url("../fonts/ChinaCyr.bin") format("truetype"), url("../fonts/ChinaCyr-1.bin") format("woff"); }

* {
  box-sizing: border-box; }

a {
  color: #ff0257;
  text-decoration: none; }

html,
body,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

html {
  overflow-x: hidden; }

html,
body {
  height: 100%;
  min-width: 100%; }

.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #383838; }

img {
  display: block;
  max-width: 100%; }

a,
button {
  transition: all 0.4s;
  cursor: pointer; }

button {
  display: block; }

button:focus {
  outline: none; }

a:hover {
  text-decoration: none; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px; }

.wrapper--w100 {
  width: 100%; }

.wrapper--h100 {
  -ms-flex-positive: 1;
      flex-grow: 1;
  height: 100%; }

.slick-slide,
input {
  outline: none; }

.slick-arrow {
  z-index: 5;
  width: 40px;
  height: 40px; }
  .slick-arrow::before {
    display: none; }
  .slick-arrow.slick-prev {
    background: url("../images/tech_img/slick-prev.svg") center/40px no-repeat; }
  .slick-arrow.slick-next {
    background: url("../images/tech_img/slick-next.svg") center/40px no-repeat; }

.slick-dots {
  bottom: 20px; }
  .slick-dots li {
    margin: 0 7px; }
    .slick-dots li.slick-active button::before {
      background-color: #fee76d; }
    .slick-dots li button::before {
      content: '';
      width: 15px;
      height: 15px;
      background-color: #fff;
      opacity: 1;
      cursor: pointer;
      box-shadow: 1px 1px 10px 2px #000;
    }

.page__content {
  -ms-flex-positive: 1;
      flex-grow: 1;
  position: relative;
  z-index: 1;
  background-color: #fff;
 //background: url("../images/tech_img/body-bg1.png") left top no-repeat, url("../images/tech_img/body-bg2.png") right top no-repeat; }
  .page__content::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff; }

.page__content--colored {

 // background: url("../images/tech_img/body-bg1.png") left top no-repeat, url("../images/tech_img/body-bg2.png") right top no-repeat, url("../images/tech_img/body-bg3.jpg") center top/100% no-repeat; }
  @media screen and (max-width: 1199px) {
    .page__content--colored {
      margin-top: 93px; } }
  @media screen and (max-width: 991px) {
    .page__content--colored {
      margin-top: 43px; } }

.page__content--flexible {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.heading {
  margin: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1; }
  .heading::before {
    content: '';
    display: block;
    border: 15px solid transparent;
    border-left: 15px solid #ff0257; }

input[type="file"] {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden; }


label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700; }

.form-header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px; }

.text-center {
  text-align: center; }

.header {
  padding: 5px 0;
  background-color: #1b143d; }

.header--fixed {
  position: fixed; }

.page__header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100; }

.header--fixed {
  position: fixed;
  z-index: 100;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1); }

.header-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 1199px) {
    .header-inner {
      -ms-flex-align: center;
          align-items: center; } }

.logo {
  font-family: 'ChinaCyr', sans-serif;
  color: #94c2df;
  font-size: 30px;
  text-shadow: 0 10px 30px #546fe0; }
  .logo:hover {
    color: #94c2df; }

@media screen and (max-width: 991px) {
  .header-inner__menu {
    display: none; } }

.main-menu {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 991px) {
    .main-menu {
      display: none; } }

.main-menu__item:not(:last-child) {
  margin-right: 30px; }

@media screen and (max-width: 991px) {
  .main-menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px; } }

.main-menu__item--has-children {
  position: relative; }
  @media screen and (min-width: 992px) {
    .main-menu__item--has-children:hover .main-menu__submenu {
      display: block; } }
  @media screen and (max-width: 991px) {
    .main-menu__item--has-children > .main-menu__link {
      position: relative; }
      .main-menu__item--has-children > .main-menu__link::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 40%;
        border: 5px solid transparent;
        border-top: 5px solid #383838; }
    .main-menu__item--has-children.main-menu__item--active > .main-menu__link::after {
      top: 20%;
      border: 5px solid transparent;
      border-bottom: 5px solid #ff0257; }
    .main-menu__item--has-children.main-menu__item--active .main-menu__submenu {
      display: block; } }

.main-menu__link {
  font-weight: 300;
  color: #fff; }
  .main-menu__link:hover {
    text-decoration: underline; }
  @media screen and (max-width: 991px) {
    .main-menu__link {
      display: inline-block;
      color: #383838;
      font-size: 18px; } }

.main-menu__submenu {
  position: absolute;
  display: none;
  left: 0;
  width: 170px;
  padding: 10px;
  background-color: #fff; }
  @media screen and (max-width: 991px) {
    .main-menu__submenu {
      position: static;
      display: none; } }

.submenu__item {
  display: block;
  color: #ff0257; }
  .submenu__item:hover {
    color: #383838; }
  .submenu__item:not(:last-child) {
    margin-bottom: 5px; }

@media screen and (max-width: 1199px) {
  .header-inner__form {
    width: 100%;
    margin-top: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (max-width: 991px) {
  .header-inner__form {
    -ms-flex-pack: start;
        justify-content: flex-start; } }

@media screen and (max-width: 480px) {
  .header-inner__form {
    display: block; } }

.search-form {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .search-form {
      -ms-flex-direction: column;
          flex-direction: column;
      width: 100%; } }

.search-form__input {
  width: 260px;
  padding: 8px 20px; }
  @media screen and (max-width: 991px) {
    .search-form__input {
      width: 70%; } }
  @media screen and (max-width: 480px) {
    .search-form__input {
      width: 100%; } }

.search-form__btn {
  width: 130px;
  text-align: center;
  font-weight: 700;
  background: url(../images/tech_img/search-icon.svg) 14px center/12px no-repeat #e1b109;
  border: none;
  cursor: pointer;
  transition: all 0.4s; }
  @media screen and (max-width: 991px) {
    .search-form__btn {
      width: 30%;
      padding: 0 15px 0 15px;
      background: #e1b109; } }
  @media screen and (max-width: 480px) {
    .search-form__btn {
      width: 100%;
      padding: 8px 15px;
      background: url(../images/tech_img/search-icon.svg) 14px center/12px no-repeat #e1b109; } }

.burger {
  display: none;
  cursor: pointer; }

@media screen and (max-width: 991px) {
  .burger {
    display: block; } }

.burger__item {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #ff0257; }
  .burger__item:not(:last-child) {
    margin-bottom: 6px; }

.header__mob-menu {
  display: none;
  position: absolute;
  z-index: 20;
  top: 0;
  width: 50%;
  right: -100%;
  height: 100vh;
  padding: 60px 30px 30px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.4s; }
  .header__mob-menu .header-inner__menu {
    display: block; }
  @media screen and (max-width: 767px) {
    .header__mob-menu {
      width: 65%; } }
  @media screen and (max-width: 575px) {
    .header__mob-menu {
      width: 75%; } }
  @media screen and (max-width: 480px) {
    .header__mob-menu {
      padding: 60px 15px 15px; } }

.header__mob-menu.active {
  right: 0; }

.menu-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10; }

.menu-close span {
  position: relative;
  display: block;
  width: 40px;
  height: 4px;
  background-color: #ff0257;
  border-radius: 6px; }

.menu-close span:first-child {
  transform: rotate(45deg);
  top: 10px; }

.menu-close span:last-child {
  bottom: -6px;
  transform: rotate(-45deg); }

.page__fs-section {
  position: relative;
  margin-top: 45px;}
  @media screen and (max-width: 1199px) {
    .page__fs-section {
      margin-top: 93px; } }
  @media screen and (max-width: 991px) {
    .page__fs-section {
      margin-top: 43px; } }

.fs-section__slider-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;

  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .fs-section__slider-wrapper {
    margin-top: 25px;
    position: static;
    padding: 0 15px;
    height: auto;
  }
}

.top-img {
  min-height: 320px;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}



.slick-slider.fs-section__slider {
  margin-bottom: 0;
  z-index: 20;
  max-width: 800px;
  margin-left: auto;
  margin-right: 240px;
}
.fs-section__slider .slick-arrow {
  width: 22px;
  height: 76px;
}
.fs-section__slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../images/tech_img/top-arrows.png') 0 0 no-repeat;
}
.fs-section__slider .slick-arrow.slick-next {
  right: 0;
  background: url('../images/tech_img/top-arrows.png') 0 bottom no-repeat;
}
@media screen and (min-width: 1400px) {
  .slick-slider.fs-section__slider {
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .slick-slider.fs-section__slider {
    margin: 0 auto;

    max-width: 100%;
  }
}

.fs-section__slider .slick-slide {
  position: relative;
  transition: all .4s ease-in-out;
  transition-delay: 0.4s;

}


.top-slider__img {
  width: 720px;
  margin: 0 auto;
  height: 280px;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 991px) {
  .top-slider__img {

    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
  }
}

.account-wrapper__block {
  max-width: 115px;
  margin-left: auto; }

.fs-section__account {
  position: absolute;
  left: 50%;
  top: 10px;
  right: 0;
  z-index: 10;
  transform: translateX(-50%);
  max-width: 1600px;
  width: 100%; }

.account-block__img-block {
  position: relative;
  z-index: 1;
  height: 103px;
  width: 103px;
  margin: 0 auto 10px; }
  .account-block__img-block::after {
    content: '';
    display: block;
    z-index: 10;
    width: 103px;
    height: 103px;
    position: absolute;
    background: url("../images/avatar_frames/1.png") center / 100% no-repeat; }
  .account-block__img-block[data-class="frame1"]::after {
    background: url("../images/avatar_frames/1.png") center / 100% no-repeat; }

.account-block__img-block[data-class="frame2"]::after {
  background: url("../images/avatar_frames/2.png") center / 100% no-repeat; }

.account-block__img-block[data-class="frame3"]::after {
  background: url("../images/avatar_frames/3.png") center / 100% no-repeat; }

.account-block__img-block[data-class="frame4"]::after {
  background: url("../images/avatar_frames/4.png") center / 100% no-repeat; }

.account-img-block__item {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%; }

.account-block__title {
  font-weight: 700;
  text-align: center;
  color: #ffffdd;
  line-height: 1.3; }

.account-block__title--black {
  color: #383838; }

.fs-acc-menu {
  margin-top: 10px; }

.fs-acc-menu__item {
  display: block;
  font-weight: 300;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
  color: #fff; }

.fs-acc-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
  .fs-acc-menu__item:hover {
    color: #fff; }

.account-block__attention {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 10px;
}
.attention-block__img {
  margin-bottom: 10px;
}

.main-content {
  background-color: #fff; }

.main__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2; }

.popular-block {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 40px 15px 25px 0; }
  @media screen and (max-width: 1199px) {
    .popular-block {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start; } }

@media screen and (max-width: 991px) {
  .popular-block {
    padding-right: 0;
}
}

.popular-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  background-color: #1b143d; }

.popular-block__nav {
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-left: 15px; }
  @media screen and (max-width: 1199px) {
    .popular-block__nav {
      margin-top: 15px;
      width: calc(100% - 15px);
      -ms-flex-pack: center;
          justify-content: center; } }

@media screen and (max-width: 991px) {
  .popular-block__nav {
    width: 100%;
    margin-left: 0;
  }
}

.popular-nav__item {
  padding: 5px 13px;
  font-weight: 700;
  color: #fff; }
  .popular-nav__item:hover {
    color: #ff0257; }
  .popular-nav__item:not(:last-child) {
    margin-right: 15px; }
  @media screen and (max-width: 1199px) {
    .popular-nav__item {
      padding: 5px 10px; } }

.popular-nav__item--other {
  margin-left: auto;
  position: relative;
  min-width: 185px;
  cursor: pointer;
  transition: all .4s;
}
.popular-nav__item--other span {
  position: relative;
  padding-left: 35px;
}
.popular-nav__item--other span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  border: 15px solid transparent;
  border-top: 15px solid #ff0257;
}

.popular-nav__genres-block {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 10px 10px 1px rgba(0,0,0,.1);
}
.popular-nav__item--other.active .popular-nav__genres-block {
  display: block;
}
.new-manga {
  padding: 15px 0 20px 0;
  background-color: #ededed; }
  .new-manga .manga-row__col:nth-child(-n + 6) {
    margin-bottom: 55px; }
  @media screen and (max-width: 1199px) {
    .new-manga .manga-row__col {
      margin-bottom: 55px !important; } }

.new-manga__heading {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 15px;
  padding-right: 40px;
  background: url("../images/tech_img/warning.svg") right center/29px 26px no-repeat; }


/*.main-content__info {
  width: 83.333%; }
  @media screen and (max-width: 1199px) {
    .main-content__info {
      width: 75%; } }
  @media screen and (max-width: 991px) {
    .main-content__info {
      width: 100%; } }*/

.main-content__info--book {
  width: 83.333%; }
  @media screen and (max-width: 1199px) {
    .main-content__info--book {
      width: 75%; } }
  @media screen and (max-width: 991px) {
    .main-content__info--book {
      width: 100%; } }

.manga-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col {
  padding: 0 15px; }

.manga-block {
  height: 100%;
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 480px) {
  .manga-block {
    max-width: 300px;
    margin: auto; } }

.manga-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.4s; }
  .manga-block__img:hover {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6); }
  @media screen and (min-width: 1500px) {
    .manga-block__img {
      height: 320px; } }
  @media screen and (max-width: 575px) {
    .manga-block__img {
      height: 320px; } }
  @media screen and (max-width: 480px) {
    .manga-block__img {
      height: auto; } }

.manga-block__title {
  display: block;
  flex-grow: 1;
  color: #383838;
  line-height: 1.2;
  transition: all 0.4s;
  outline: none; }
  .manga-block__title:hover {
    color: #ff0257; }

.manga-block__new-title {
  color: #ff0257;
  font-weight: 700; }

/*.manga-row__col {
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
  max-width: 20%; }*/

.manga-row__col {
  -ms-flex: 0 0 16.666%;
      flex: 0 0 16.666%;
  max-width: 16.666%; }

  @media screen and (max-width: 1199px) {
    .manga-row__col {
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
      max-width: 25%; } }
  @media screen and (max-width: 767px) {
    .manga-row__col {
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
      max-width: 33.333%; } }
  @media screen and (max-width: 575px) {
    .manga-row__col {
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
      max-width: 50%; } }
  @media screen and (max-width: 480px) {
    .manga-row__col {
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
      max-width: 100%; } }

.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.new-manga__pagination {
  margin-top: 15px; }
  @media screen and (max-width: 767px) {
    .new-manga__pagination {
      margin-top: 0; } }

.pagination__link,
.pagination__delimiter,
.pagination__prev {
  margin-right: 8px;
  margin-top: 10px; }

.pagination__prev,
.pagination__next {
  width: 38px;
  height: 26px; }

.pagination__prev {
  background: url("../images/tech_img/pag-prev.svg") center/19px 13px no-repeat; }

.pagination__next {
  margin-top: 10px;
  background: url("../images/tech_img/pag-next.svg") center/19px 13px no-repeat; }

.pagination__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #969696;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  transition: all 0.4s; }
  .pagination__link:hover {
    background-color: #002056; }

.pagination__link--current {
  background-color: #002056; }

.pagination__delimiter {
  color: #969696;
  font-size: 18px;
  font-weight: 700; }

.hot-manga {
  padding: 30px 0 60px; }
@media screen and (max-width: 1199px) {
  .hot-manga {
    padding: 30px 0;
  }
}

@media screen and (max-width: 1199px) {
  .hot-manga .manga-row__col {
    margin-bottom: 30px;
  }
}

.hot-manga__heading {
  margin-bottom: 15px; }

.hot-slider .slick-arrow {
  top: calc(100% - 20px); }
  @media screen and (max-width: 480px) {
    .hot-slider .slick-arrow {
      top: calc(100% - 50px); } }
  .hot-slider .slick-arrow.slick-prev {
    left: 15px; }
  .hot-slider .slick-arrow.slick-next {
    right: 15px; }

.hot-slider .slick-dots {
  margin-top: 30px;
  position: static; }
  .hot-slider .slick-dots button::before {
    background-color: #383838; }
  @media screen and (max-width: 480px) {
    .hot-slider .slick-dots {
      margin-top: 80px; } }

.sidebar {
  width: 16.666%;
  padding: 0 15px 15px; }
  @media screen and (max-width: 1199px) {
    .sidebar {
      width: 25%; } }
  @media screen and (max-width: 991px) {
    .popular-nav__item--other {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .sidebar {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding-bottom: 30px; } }
  @media screen and (max-width: 575px) {
    .sidebar {
      -ms-flex-direction: column;
          flex-direction: column; } }

.daily-manga {
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media screen and (max-width: 575px) {
    .daily-manga {
      max-width: 300px;
      margin: auto; }
      .daily-manga .manga-block__title {
        font-size: 20px; } }

.daily-manga__heading {
  padding: 15px 0;
  color: #fff;
  background-color: #ff0257; }
  .daily-manga__heading::before {
    border-left: 15px solid #fff; }

@media screen and (max-width: 1199px) {
  .daily-manga__img {
    height: auto; } }

.sidebar__genres {
 // margin-top: 55px;
}
  @media screen and (max-width: 991px) {
    .sidebar__genres {
      margin-top: 15px;
      margin-left: 30px; } }
  @media screen and (max-width: 575px) {
    .sidebar__genres {
      margin-top: 30px;
      margin-left: 0; } }

.genres-list {
  max-height: 500px; }
  @media screen and (max-width: 991px) {
    .genres-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.genres-list__item {
  display: block;
  word-break: break-all;
  font-size: 14px;
  color: #383838; }
  .genres-list__item:hover {
    color: #ff0257; }
  .genres-list__item:not(:last-child) {
    margin-bottom: 7px; }
  @media screen and (max-width: 991px) {
    .genres-list__item {
      word-break: inherit;
      margin-right: 20px; } }

.genres__heading {
  margin-bottom: 15px; }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #ff0257; }

#mCSB_1_scrollbar_vertical {
  width: 6px; }

.mCSB_dragger_bar,
.mCSB_1_scrollbar_vertical {
  width: 4px !important; }

.mCSB_dragger_bar {
  margin: 0; }

.mCSB_draggerContainer,
.mCS-3d-thick-dark.mCSB_scrollTools {
  box-shadow: none !important;
  background-color: transparent !important; }

.banner-section {
  position: relative;
  z-index: 1; }

.main__banner-section {
  min-height: 240px;
  padding: 75px 0; }

.banner {
  position: relative;

  z-index: 15; }

.fs-section__account--positioned {
  z-index: -1; }

.banner-link {
  width: 728px;
  height: 90px;
  display: table;
  margin: 0 auto; }
.banner-link img {
  max-height: 100%;
  height: 100%;
}
@media screen and (max-width: 991px) {

  .banner-link img {
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .banner-section__link {
    margin: 0 auto 0 0;
    width: 550px;
    height: auto; } }

@media screen and (max-width: 767px) {
  .banner-section__link {
    margin: 0 130px 0 0;
    width: auto; } }

@media screen and (max-width: 575px) {
  .banner-section__link {
    display: none; } }

.search-results {
  width: 100%;
  height: 100%;
  padding: 15px 0 70px;
  background-color: #fff; }
  .search-results .manga-row__col {
    margin-bottom: 50px; }

.search-results__heading {
  margin-bottom: 15px; }

.search-results__heading span {
  margin-left: 5px;
  font-weight: 700;
}



.bought__row .manga-row__col,
.subscriptions__row .manga-row__col,
.search-results__row .manga-row__col {
  -ms-flex: 0 0 16.666%;
      flex: 0 0 16.666%;
  max-width: 16.666%; }
  @media screen and (max-width: 1199px) {
    .bought__row .manga-row__col,
    .subscriptions__row .manga-row__col,
    .search-results__row .manga-row__col {
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
      max-width: 20%; } }
  @media screen and (max-width: 991px) {
    .bought__row .manga-row__col,
    .subscriptions__row .manga-row__col,
    .search-results__row .manga-row__col {
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
      max-width: 25%; } }
  @media screen and (max-width: 767px) {
    .bought__row .manga-row__col,
    .subscriptions__row .manga-row__col,
    .search-results__row .manga-row__col {
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
      max-width: 33.333%; } }
  @media screen and (max-width: 575px) {
    .bought__row .manga-row__col,
    .subscriptions__row .manga-row__col,
    .search-results__row .manga-row__col {
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
      max-width: 50%; } }
  @media screen and (max-width: 480px) {
    .bought__row .manga-row__col,
    .subscriptions__row .manga-row__col,
    .search-results__row .manga-row__col {
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
      max-width: 100%; } }

.search-results__notfound {
  margin: 0 15px; }

.search-notfound__header {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }
  @media screen and (max-width: 1199px) {
    .search-notfound__header {
      font-size: 22px; } }
  @media screen and (max-width: 991px) {
    .search-notfound__header {
      font-size: 18px; } }

.search-notfound__form-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 25px 0 0; }

.main__message-block,
.main__sign-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;

  padding: 70px 150px;
  background: url(../images/tech_img/sign.png) 15% center no-repeat #fff; }

.sign-block--login {
  background: url(../images/tech_img/login.jpg) 15% bottom no-repeat #fff;
}
.sign-block--forgot {
  background: url(../images/tech_img/forgot.jpg) 25% bottom / contain no-repeat #fff;
}

.main__sign-block {
  min-height: 650px;
}
.main__message-block {
  min-height: 550px;
}

  @media screen and (max-width: 1199px) {
    .main__message-block,
    .main__sign-block {
      padding: 70px;
      background: url(../images/tech_img/sign.png) 5% center no-repeat #fff; }
    .sign-block--login {
      background: url(../images/tech_img/login.jpg) 5% bottom / 600px no-repeat #fff;
    }
    .sign-block--forgot {
      background: url(../images/tech_img/forgot.jpg) 25% bottom / contain no-repeat #fff;
    }
  }
  @media screen and (max-width: 991px) {
    .main__message-block,
    .main__sign-block {
      padding: 50px;
      background: url(../images/tech_img/sign.png) 5% center/400px no-repeat #fff; }
    .sign-block--login {
      min-height: 550px;
      background: url(../images/tech_img/login.jpg) 5% bottom / 550px no-repeat #fff;
    }
    .sign-block--forgot {
      background: url(../images/tech_img/forgot.jpg) 20% bottom / contain no-repeat #fff;
    }
  }
  @media screen and (max-width: 767px) {
    .main__message-block,
    .main__sign-block {
      -ms-flex-pack: center;
          justify-content: center;
      background: url(../images/tech_img/sign.png) top center/400px no-repeat #fff; }

    .sign-block--login {
      min-height: 500px;
      background: url(../images/tech_img/login.jpg) bottom center / 450px no-repeat #fff;
    }
    .sign-block--login .sign-block__inner {
      margin-top: 0;
      margin-bottom: 350px;
    }
    .sign-block--forgot {
      background: url(../images/tech_img/forgot.jpg) center bottom / 230px no-repeat #fff;
    }
    .sign-block--forgot .sign-block__inner {
      margin-top: 0;
      margin-bottom: 350px;
    }
  }
  @media screen and (max-width: 575px) {
    .main__message-block,
    .main__sign-block {
      padding: 30px; }
  }
  @media screen and (max-width: 480px) {
    .main__message-block,
    .main__sign-block {
      padding: 15px; }
    .sign-block--login {
      min-height: 500px;
      background: url(../images/tech_img/login.jpg) bottom center / 100% no-repeat #fff;
    }
  }
  @media screen and (max-width: 380px) {
    .sign-block--login .sign-block__inner {
      margin-bottom: 300px;
    }
  }

.page-message-block__inner {
  max-width: 320px;
}

.balance-link,
.vip-link {
  display: block;
  color: #ff0257;
  text-decoration: underline;
}
.balance-link:hover,
.vip-link:hover {
  text-decoration: none;
}

.payment-form .form-header {
  text-align: left;
}

.payment-info__text {
  margin-top: 15px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .payment-info__text {
    font-size: 16px;
  }
}
.main__payment {
  margin: 25px 0;
}
.payment-info__balance,
.payment-info__price {
  margin-bottom: 15px;
  font-size: 18px;
}
.payment-info__price span {
  color: #ff0257;
}
.payment-info__balance {
  display: flex;
  align-items: center;
}
.payment-info__balance img {
  margin-left: 5px;
}

.sign-block__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 300px; }
  .sign-block__form input {
    width: 100%; }

  @media screen and (max-width: 767px) {
    .page-message-block__inner {
      margin-top: 120px;
    }
    .sign-block__inner {
      margin-top: 220px;
    }
  }
@media screen and (max-width: 380px) {
  .sign-block__form,
  .sign-block__inner {
    width: 100%;
  }
}
.sign-block__form .form-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  font-size: 30px; }

.form-input {
  width: 100%;
  padding: 15px 25px;
  border: 1px solid #d3d3d3;
  color: #727272; }

.sign-block__form .submit-btn {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #ff0257;
  cursor: pointer;
  transition: all 0.4s;
  border: 1px solid #ff0257; }
  .sign-form__submit:hover {
    color: #ff0257;
    background-color: transparent; }

.sign-form__link {
  display: block;
  margin-top: 15px;
  color: #383838;
  line-height: 1; }
  @media screen and (max-width: 767px) {
    .sign-form__link {
      text-align: center; } }
  .sign-form__link:hover {
    color: #ff0257; }

.refresh {
  cursor: pointer;
}

.captcha {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs-wrapper {
  width: 100%;
  padding: 40px 15px 25px 0; }

@media screen and (max-width: 480px) {
  .breadcrumbs-wrapper {

    padding-top: 25px;
  }
}

.breadcrumbs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-left: 30px;
  padding-top: 5px; }
  .breadcrumbs::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 15px solid transparent;
    border-left: 15px solid #ff0257; }

.breadcrumbs__item,
.breadcrumbs__separator {
  color: #383838;
  font-weight: 300; }

.breadcrumbs__item:hover {
  color: #ff0257; }

.breadcrumbs__item--white,
.breadcrumbs__separator--white,
.breadcrumbs__current--white {
  color: #fff; }

.breadcrumbs__current {
  font-weight: 700; }

.breadcrumbs__separator {
  margin: 0 5px; }

.manga-info {
  padding: 15px 15px 25px;
  background-color: #ededed; }

.manga-info__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  color: #1b143d;
  line-height: 1.2; }
  @media screen and (max-width: 767px) {
    .manga-info__title {
      font-size: 20px; } }
  @media screen and (max-width: 575px) {
    .manga-info__title {
      font-size: 18px; } }

.manga-info__bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }
  @media screen and (max-width: 575px) {
    .manga-info__bottom {
      -ms-flex-direction: column;
          flex-direction: column; } }

.manga-info__img-wrapper {
  max-width: 360px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px; }
  @media screen and (max-width: 1199px) {
    .manga-info__img-wrapper {
      max-width: 300px; } }
  @media screen and (max-width: 767px) {
    .manga-info__img-wrapper {
      max-width: 240px; } }
  @media screen and (max-width: 575px) {
    .manga-info__img-wrapper {
      margin: 0 auto 40px;
      max-width: 100%; } }

.manga-info__img {
  max-width: 100%;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.6); }

.manga-text__item {
  margin-bottom: 20px; }
  .manga-text__item span {
    font-weight: 700; }
  .manga-text__item a {
    color: #ff0257; }
    .manga-text__item a:hover {
      text-decoration: underline; }

.manga-text__btns {
  margin-top: 100px; }
  @media screen and (max-width: 767px) {
    .manga-text__btns {
      margin-top: 30px; } }

.manga-btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  @media screen and (max-width: 1199px) {
    .manga-btns {
      -ms-flex-direction: column;
          flex-direction: column; } }

.manga-btns__btn {
  width: 240px;
  padding: 20px 15px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #d3d3d3;
  box-shadow: 5px 7px 0 1px #d3d3d3; }
  .manga-btns__btn:not(:last-child) {
    margin-right: 25px; }
    @media screen and (max-width: 1199px) {
      .manga-btns__btn:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px; } }
  .manga-btns__btn:hover {
    transform: scale(0.98) translateY(5px);
    box-shadow: none;
    border-color: transparent; }


.readmanga-link {
  color: #000;
  background: linear-gradient(to right top, #ffa30c, #e5e019); }
  .readmanga-link:hover {
    background: linear-gradient(to right top, #e5e019, #ffa30c); }

.subscribe-link {
  color: #fff;
  background-color: #432477; }
  .subscribe-link:hover {
    border-color: #432477; }

.contents-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
  background-color: #ededed; }

@media screen and (max-width: 991px) {
  .contents-top {
    margin-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  .text h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  .text h1 {
    font-size: 20px;
  }
  .text h2,
  .text h3 {
    font-size: 18px;
  }
}

.main_contents-block {
  margin-top: 15px; }

.contents-top__last-chapter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 70px 0 30px; }
  @media screen and (max-width: 1199px) {
    .contents-top__last-chapter {
      width: 100%;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 0; } }
  @media screen and (max-width: 767px) {
    .contents-top__last-chapter {
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 15px; } }

.manga-text__last-read {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.last-read__header {
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  .manga-text__last-read {
    flex-direction: column;
  }
  .last-read__header {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.last-read__link {
  line-height: 1;
  color: #ff0257;
}
.last-read__link:hover {
  text-decoration: underline;
}

.last-chapter__header {
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px; }
  @media screen and (max-width: 767px) {
    .last-chapter__header {
      margin-right: 0;
      margin-bottom: 15px; } }

.last-chapter__link {
  max-width: 150px;
  line-height: 1;
  color: #ff0257;
  font-size: 14px; }
  @media screen and (max-width: 1199px) {
    .last-chapter__link {
      max-width: none; } }
  .last-chapter__link:hover {
    text-decoration: underline; }

.chapters-pagination {

  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 1199px) {
    .chapters-pagination {
      width: 100%;
      -ms-flex-pack: center;
          justify-content: center;
      margin-left: 0;
      margin-top: 15px; } }
  @media screen and (max-width: 767px) {
    .chapters-pagination {
      margin-top: 20px;
      padding: 0 15px; } }

.chapters-pagination__prev,
.chapters-pagination__next,
.chapters-pagination__link,
.chapters-pagination__delimiter {
  color: #383838;
  background-color: #ffa30c;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px; }
  @media screen and (max-width: 767px) {
    .chapters-pagination__prev,
    .chapters-pagination__next,
    .chapters-pagination__link,
    .chapters-pagination__delimiter {
      margin-top: 10px; } }

.chapters-pagination__prev,
.chapters-pagination__link,
.chapters-pagination__delimiter {
  margin-right: 15px; }

.chapters-pagination__link--current {
  background-color: #ff0257;
  color: #fff; }

.contents-table {
  padding: 0 15px 15px; }

.contents-table__row {
  padding: 20px 0 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: stretch;

  border-bottom: 1px solid #d1d1d1; }
  @media screen and (max-width: 1199px) {
    .contents-table__row {
      border-bottom: none;
      padding: 0; } }

.contents-table__col {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  @media screen and (max-width: 1199px) {
    .contents-table__col {
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid #d1d1d1; } }

.contents-table__link {
  display: block;
  max-width: 155px;
  font-size: 14px;
  color: #383838;
  line-height: 1.2; }
  .contents-table__link:hover {
    color: #ff0257;
    text-decoration: underline; }
  @media screen and (max-width: 1199px) {
    .contents-table__link {
      max-width: none; } }

.chapter-price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.chapter-vip {
  color: #ff0257;
  font-weight: bold;
}

.chapter-price__img {
  margin-left: 5px;
  width: 20px; }

.blog {
  padding: 15px;
  max-height: 700px;
  overflow: auto;
  border: 30px solid transparent;
  -o-border-image: url(../images/tech_img/frame.png) 30 round;
     border-image: url(../images/tech_img/frame.png) 30 round; }
  @media screen and (max-width: 380px) {
    .blog {
      padding: 15px 10px;
      border: 15px solid transparent;
      -o-border-image: url(../images/tech_img/frame.png) 15 round;
         border-image: url(../images/tech_img/frame.png) 15 round; } }

.blog__info {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }
  @media screen and (max-width: 1199px) {
    .blog__info {
      -ms-flex-direction: column;
          flex-direction: column; } }

.blog-area__content {
  width: 100%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-left: 50px; }
  @media screen and (max-width: 1199px) {
    .blog-area__content {
      margin-left: 0;
      margin-top: 30px; } }

.editor {
  height: 400px; }

.blog-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  @media screen and (max-width: 575px) {
    .blog-controls {
      -ms-flex-direction: column;
          flex-direction: column; } }

.comment-form__submit-btn,
.blog-area__publish-btn,
.blog-controls__btn {
  padding: 15px;
  width: 260px;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid transparent; }
  @media screen and (max-width: 380px) {
    .comment-form__submit-btn,
    .blog-area__publish-btn,
    .blog-controls__btn {
      width: 100%; } }

.blog-controls__btn {
  background-color: #ffa30c; }
  .blog-controls__btn:not(:last-child) {
    margin-right: 15px; }
    @media screen and (max-width: 575px) {
      .blog-controls__btn:not(:last-child) {
        margin-right: auto;
        margin-bottom: 20px; } }
  @media screen and (max-width: 575px) {
    .blog-controls__btn {
      margin-left: auto;
      margin-right: auto; } }
  .blog-controls__btn:hover, .blog-controls__btn.blog-controls__btn--active {
    background-color: #ff0257;
    color: #fff; }

#interpreterArea {
  display: none; }

@media screen and (max-width: 1199px) {
  .blog-area__author {
    margin: 0 auto; } }

.blog-area__profile {
  max-width: 115px; }

.comment-form__submit-btn,
.blog-area__publish-btn {
  margin-top: 15px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: #ff0257; }
  .comment-form__submit-btn:hover,
  .blog-area__publish-btn:hover {
    background-color: transparent;
    border-color: #ff0257;
    color: #ff0257; }

.blog-area__form,
.blog-area__article {
  margin-bottom: 50px; }

.article__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #383838; }
  @media screen and (max-width: 575px) {
    .article__top {
      -ms-flex-direction: column;
          flex-direction: column; } }

.article__date {
  padding-left: 25px;
  background: url("../images/tech_img/calendar.svg") left center/20px no-repeat; }
  @media screen and (max-width: 575px) {
    .article__date {
      margin-bottom: 10px; } }

.article__content {
  word-break: break-all;
}

.h-400 {
  height: 400px;
}

@media screen and (max-width: 575px) {
  .article__id {
    margin-bottom: 10px; } }

.article-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.article-options__link img {
  width: 25px;
  transition: all 0.4s; }

.article-options__link:not(:last-child) {
  margin-right: 20px; }
  @media screen and (max-width: 575px) {
    .article-options__link:not(:last-child) {
      margin-right: 30px; } }

.article-options--hidden {
  display: none; }

.contents-block__rating {
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: #ededed; }
  @media screen and (max-width: 1199px) {
    .contents-block__rating {
      padding-bottom: 15px; } }

.users-rating__heading {
  padding: 15px 15px 15px 0; }
  @media screen and (max-width: 1199px) {
    .users-rating__heading {
      margin-bottom: 25px; } }

.users-rating__row {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .users-rating__row {
      -ms-flex-direction: column;
          flex-direction: column; } }

.users-rating__col {
  width: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center; }

  @media screen and (max-width: 1199px) {
    .users-rating__col {
      width: 25%;
      margin-bottom: 25px; } }
  @media screen and (max-width: 991px) {
    .users-rating__col {
      width: 33.333%; } }
  @media screen and (max-width: 575px) {
    .users-rating__col {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .users-rating__col {
      width: 100%; } }

.users-rating__account {
  max-width: 105px; }

.users-rating__rate {
  margin-left: 5px; }
  .users-rating__rate .rating__item:not(:last-child) {
    margin-bottom: 5px; }

.rating__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.rating-icon__img {
  width: 15px;
  height: 15px;
  margin-right: 5px; }

.rating-amt {
  font-weight: 700;
  font-size: 14px; }

.rating-amt--comments {
  color: #1B143D; }

.rating-amt--likes {
  color: #058311; }

.rating-amt--dislikes {
  color: #ff0257; }

.contents-block__comments {
  padding: 60px 0; }

.comment {
  border: 15px solid transparent;
  -o-border-image: url(../images/tech_img/frame-comments.png) 15 round;
     border-image: url(../images/tech_img/frame-comments.png) 15 round;
  background-color: #ededed; }

.comments-list {
  padding: 0 15px; }

.comments-list__comment {
  margin-bottom: 40px; }
  .comments-list__comment .comments-list__comment {
    margin: 0 10px 10px 10px; }

.comments__heading {
  margin-bottom: 30px; }

.comment-row {
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }
  @media screen and (max-width: 767px) {
    .comment-row {
      -ms-flex-direction: column;
          flex-direction: column;
      padding: 10px; } }

.comment-row__avatar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    .comment-row__avatar {
      margin-right: 0;
      margin-bottom: 15px; } }
  .comment-row__avatar::after {
    content: '';
    display: block;
    z-index: 10;
    width: 60px;
    height: 60px;
    position: absolute;
    background: url(../images/avatar_frames/1.png) center/60px no-repeat; }
.comment-row__avatar[data-class="frame1"]::after {
  background: url("../images/avatar_frames/1.png") center / 100% no-repeat; }

.comment-row__avatar[data-class="frame2"]::after {
  background: url("../images/avatar_frames/2.png") center / 100% no-repeat; }

.comment-row__avatar[data-class="frame3"]::after {
  background: url("../images/avatar_frames/3.png") center / 100% no-repeat; }

.comment-row__avatar[data-class="frame4"]::after {
  background: url("../images/avatar_frames/4.png") center / 100% no-repeat; }


.comment-avatar__img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: -2;
  transform: translate(-50%, -50%); }

.comment-info {
  width: 100%;
  -ms-flex-positive: 1;
      flex-grow: 1; }

.comment-name {
  font-weight: 700;
  font-size: 14px; }

.comment-info__name {
  margin-bottom: 15px; }


.comment-row__bottom {
  width: 100%;
  margin-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media screen and (max-width: 575px) {
    .comment-row__bottom {
      -ms-flex-direction: column;
          flex-direction: column; } }

.comment-text {
  word-break: break-word; }
  @media screen and (max-width: 480px) {
    .comment-text {
      font-size: 14px; } }

.comment-bottom__date {
  font-weight: 700;
  font-size: 12px;
  color: #bdbdbd; }
  @media screen and (max-width: 575px) {
    .comment-bottom__date {
      margin-bottom: 15px; } }

.comment-options {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 575px) {
    .comment-options {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }

.comment-options__show-rating,
.comment-options__rating {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 575px) {
    .comment-options__rating,
    .comment-options__show-rating {
      margin-bottom: 15px; } }
  .comment-options__show-rating .rating__item:not(:last-child),
  .comment-options__rating .rating__item:not(:last-child) {
    margin-right: 10px; }
    @media screen and (max-width: 575px) {
      .comment-options__rating .rating__item:not(:last-child) {
        margin-right: 20px; } }
  .comment-options__rating .rating__item .rating-icon {
    cursor: pointer;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .comment-options__rating .rating__item .rating-amt {
    transition: all 0.4s; }
    .comment-options__rating .rating__item .rating-amt.active {
      text-decoration: underline; }

.comment-options__link {
  margin-left: 15px;
  font-weight: 700;
  font-size: 14px;
  color: #1b143d;
  text-decoration: underline; }
  @media screen and (max-width: 575px) {
    .comment-options__link {
      margin-left: 0; }
      .comment-options__link:not(:last-child) {
        margin-bottom: 20px; } }
  .comment-options__link:hover {
    text-decoration: none; }

.comment-form {
  position: relative;
  padding: 15px; }

.comment-cancel {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.4s; }
  @media screen and (max-width: 575px) {
    .comment-cancel {
      top: 10px; } }
  .comment-cancel:hover {
    color: #ff0257; }

.comment-cancel--hidden {
  display: none; }

.comment-form__title {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700; }
  @media screen and (max-width: 575px) {
    .comment-form__title {
      font-size: 22px; } }
  @media screen and (max-width: 380px) {
    .comment-form__title {
      font-size: 18px; } }

.comment-form__text {
  width: 100%;
  height: 200px;
  padding: 15px;
  font-size: 16px;
  resize: none;
  outline: none;
  border: 1px solid #383838;
  border-radius: 5px; }

.auth-comment-text {
  padding: 0 15px 0;
  font-size: 14px; }
  @media screen and (max-width: 380px) {
    .auth-comment-text {
      text-align: center; } }
  .auth-comment-text a {
    color: #0d0db1;
    text-decoration: underline; }
    .auth-comment-text a:hover {
      text-decoration: none; }

.main_chapter-banner {
  padding: 20px 0; }

.chapter-nav {
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 1199px) {
  .banner-section__nav {
    margin-top: 20px; } }

.chapter-nav__btn {
  
  width: 100px;
  padding: 10px;
  background-color: #ffa30c;
  text-align: center;
  font-size: 14px;
  border: none;
  color: #383838;
  border-radius: 4px;
  outline: none;
  max-height: 200px;
}
  @media screen and (max-width: 480px) {
    .chapter-nav__btn {
      width: 70px; } }
  .chapter-nav__btn:not(:last-child) {
    margin-right: 30px; }
  
  .chapter-nav__btn--number {
    position: relative;
    cursor: pointer;
    transition: all .4s;
  }
.chapter-nav__btn--number:hover {
  background-color: #ff0257;
}
.select-value {
  transition: all .4s;
}
.chapter-nav__btn--number:hover .select-value {
  color: #fff;
}
.chapter-nav__btn--number::after {
  content: '';
  display: block;
  width: 0;
  position: absolute;
  right: 10px;
  top: 45%;
  border: 3px solid transparent;
  border-top: 5px solid #000;
  transition: all .4s;
}
.chapter-nav__btn--number:hover::after {
  border-top: 5px solid #fff;
}

.chapter-nav__btn--number.js-items-shown .selected-items {
  position: absolute;
  top: 103%;
  display: block;
  max-height: 250px;
  overflow: auto;
}

.selected-items {
  padding: 5px 0;
  z-index: 100;
  left: 0;
  min-width: 100%;
  box-sizing: border-box;
  display: none;
  color: #fff;
  background-color: #ffa30c;
  border-radius: 4px;
}
.selected-item:not(:last-child) {
  margin-bottom: 5px;
}

button.chapter-nav__btn {
  transition: all 0.4s; }
  button.chapter-nav__btn:hover {
    color: #fff;
    background-color: #ff0257; }

input.chapter-nav__btn::-webkit-input-placeholder {
  color: #383838; }

input.chapter-nav__btn:-moz-placeholder {
  color: #383838; }

input.chapter-nav__btn::-moz-placeholder {
  color: #383838; }

input.chapter-nav__btn:-ms-input-placeholder {
  color: #383838; }

.banner-section__chapter-banner {
  margin-top: 45px;
  padding: 20px 0; }

.banner-section__chapter-top {
  margin-top: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media screen and (max-width: 1199px) {
    .banner-section__chapter-top {
      -ms-flex-direction: column;
          flex-direction: column; } }

@media screen and (max-width: 1199px) {
  .banner-section__chapter-link {
    margin-top: 30px;
    width: auto;
    height: auto; } }

.main-content__chapter-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch; }

.main-content__chapter-center {
  margin: 30px 0;
  flex-grow: 1;
  min-width: 0; }

.main-content__chapter-prevnext {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 15px 30px;
}
.chapter-prevnext--bottom {
  margin: 30px 15px 0;
}
.chapter-prevnext__link {
  color: #f90457;
}
.chapter-prevnext__link:hover {
  color: #000;
}

.chapter-slider {
  overflow: hidden;
  width: 100%; }
  .chapter-slider img {
    margin: 0 auto;
    cursor: pointer; }

.chapter-wrapper__banner {
  width: 165px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media screen and (max-width: 991px) {
    .chapter-wrapper__banner {
      width: 100px; } }
  @media screen and (max-width: 767px) {
    .chapter-wrapper__banner {
      display: none; } }

.main-content__chapter-title {
  margin: 0 0 30px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .main-content__chapter-title {
    font-size: 18px;
  }
}

.chapter-pages-count {
  margin-top: 30px;
  text-align: center;
}

.aside-banner--left {
  background: #fff; }

.aside-banner--right {
  background: #fff; }

.main-content__chapter-nav {
  -ms-flex-pack: center;
      justify-content: center;
  margin: 30px auto 0; }

.user-cover {
  width: 100%;
  min-height: 320px;
  max-height: 320px;
  object-fit: cover;
}

.profile-section {
  height: 100%;
  padding: 40px 15px;
  background-color: #fff; }

.profile-section__top {
  position: relative; }

.profile-section__notice {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 0 5px 40px;
  text-decoration: underline;
  color: #ff4d3c;
  font-weight: 700;
  background: url("../images/tech_img/notice.svg") left center/29px no-repeat; }
  @media screen and (max-width: 1400px) {
    .profile-section__notice {
      bottom: 100%;
      top: initial;
      transform: none; } }
  @media screen and (max-width: 767px) {
    .profile-section__notice {
      display: none; } }

.profile-controls {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 767px) {
    .profile-controls {
      -ms-flex-direction: column;
          flex-direction: column; } }

.profile-controls__btn {
  padding: 15px 10px;
  width: 250px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 5px 5px 0 0;
 }

.profile-controls__btn:first-child {
  background-color: #ffcc00;
}
.profile-controls__btn:nth-child(2) {
  background-color: #f90457;
}
.profile-controls__btn:nth-child(3) {
  background-color: #095cc3;
}
.profile-controls__btn:last-child {
  background-color: #8b00ff;
}
.profile-controls__btn:not(:last-child) {
    margin-right: 15px; }
    @media screen and (max-width: 767px) {
      .profile-controls__btn:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px; } }
  @media screen and (max-width: 1199px) {
    .profile-controls__btn {
      width: auto;
      padding: 15px; } }
  .profile-controls__btn:hover,
  .profile-controls__btn.profile-controls__btn--active {
    background: radial-gradient(ellipse 80% 90% at bottom, #f6dd14 20%, #8b00ff 60%) #8b00ff; }

.profile-tab {
  position: relative;
  padding: 40px; }

  @media screen and (max-width: 767px) {
    .profile-tab {
      padding: 40px 15px; } }
  @media screen and (max-width: 575px) {
    .profile-tab {
      padding: 40px 0; } }

.profile-tab--aspad0 {
  padding: 40px 0; }

.profile-tab__heading {
  -ms-flex-pack: center;
      justify-content: center;
  text-transform: uppercase; }

.profile-tab__top {
  position: relative;
  margin-bottom: 35px; }

.profile-settings-link {
  padding-left: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #2D264C;
  background: url("../images/tech_img/settings.svg") left center/15px no-repeat;
  text-decoration: underline; }
  .profile-settings-link:hover {
    text-decoration: none; }

.profile-tab__settings-link {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%); }
  @media screen and (max-width: 1199px) {
    .profile-tab__settings-link span {
      display: none; } }
  @media screen and (max-width: 767px) {
    .profile-tab__settings-link {
      position: static;
      transform: none;
      display: table;
      margin: 0 0 15px auto; } }

.profile-personal__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }
  @media screen and (max-width: 767px) {
    .profile-personal__top {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }

.profile-img-wrapper {
  max-width: 100%;
  width: 100px;
  margin: 0 auto; }

.profile-img-text {
  text-align: center;
  font-size: 14px; }

.profile-personal__avatar-block {
  max-width: 300px; }

.profile-img-wrapper__img {
  width: 100%;
  height: 100px; }

.form-group--hidden {
  display: none; }

.form-group {
  position: relative;
  margin-bottom: 15px; }

.file-label {
  display: table;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: #ff0257;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s; }

.profile-personal__form {
  max-width: 300px;
  width: 100%;
}
.payment-form .submit-btn,
.file-label,
.profile-balance__form .submit-btn,
.profile-personal__form .submit-btn,
.profile-about__form .submit-btn {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  transition: all 0.4s;
  cursor: pointer;
  border: 1px solid transparent; }
  .file-label:hover,
  .profile-balance__form .submit-btn:hover,
  .profile-about__form .submit-btn:hover,
  .profile-personal__form .submit-btn:hover,
  .payment-form .submit-btn:hover {
    background-color: transparent;
    border-color: #ff0257;
    color: #ff0257; }


.profile-personal__form--avatar {
  width: 100%;
}
.payment-form .submit-btn,
.profile-balance__form .submit-btn,
.profile-about__form .submit-btn,
.profile-personal__form .submit-btn {
  display: block;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto 0;
  text-align: center;
  background-color: #ff0257; }

.payment-form .submit-btn {
  margin: 20px 0 0;
}

.profile-personal__about {
  margin-left: 100px;
  padding: 25px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  background-color: #ededed; }
  @media screen and (max-width: 1199px) {
    .profile-personal__about {
      margin-left: 50px; } }
  @media screen and (max-width: 767px) {
    .profile-personal__about {
      margin-top: 50px;
      margin-left: 0;
      width: 100%;
      padding: 15px; } }

.profile-about__header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px; }

.profile-about__form textarea {
  display: block;
  height: 270px;
  width: 100%;
  padding: 10px;
  border: 1px solid #1b143d;
  background-color: transparent;
  resize: none;
  font-weight: 300;
  font-size: 18px; }

.profile-about__form textarea:focus {
  outline: none;
}

.profile-personal__bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-top: 50px; }
  @media screen and (max-width: 767px) {
    .profile-personal__bottom {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center; } }

  .profile-personal__bottom .form:not(:last-child) {
    margin-right: 100px; }
    @media screen and (max-width: 767px) {
      .profile-personal__bottom .form:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
      } }


.change-email-form {
  display: table; }

.profile-balance__header {
  text-align: center;
  font-size: 30px;
  line-height: 1; }
  @media screen and (max-width: 767px) {
    .profile-balance__header {
      font-size: 25px; } }
  @media screen and (max-width: 575px) {
    .profile-balance__header {
      font-size: 22px; } }
  @media screen and (max-width: 480px) {
    .profile-balance__header {
      font-size: 18px; } }

.profile-balance__price {
  margin: 5px 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 72px;
  line-height: .8;
  color: #ff0257; }
  @media screen and (max-width: 767px) {
    .profile-balance__price {
      font-size: 50px; } }

.profile-tab__coin {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px; }

.profile-balance-text {
  text-align: center; }

.profile-balance__form {
  max-width: 300px;
  margin: 25px auto 0;
 }

.subscriptions__pagination {
  margin-top: 50px; }

.bought__row,
.subscriptions__row {
  margin: 0 -15px; }
  @media screen and (max-width: 1199px) {
    .bought__row,
    .subscriptions__row {
      margin-top: -50px; }
      .bought__row .manga-row__col,
      .subscriptions__row .manga-row__col {
        margin-top: 50px; } }

.modal {
  display: none;
  position: absolute;
  width: 80%;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 991px) {
    .modal {
      width: calc(100% - 30px); } }
  @media screen and (max-width: 767px) {
    .modal {
      padding: 20px 15px; } }

.manga-hidden-info {
  display: none; }

.modal-active {
  display: block; }

.modal__heading {
  margin-bottom: 30px; }

.modal-body {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 767px) {
    .modal-body {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }

.modal-body__manga {
  max-width: 190px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media screen and (max-width: 480px) {
    .modal-body__manga {
      max-width: none; } }

.modal-close {
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 5;
  color: #383838;
  font-size: 36px;
  line-height: 20px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .modal-close {
      top: 7px;
      right: 10px; } }

.modal-body__info {
  margin-left: 15px;
  -ms-flex-positive: 1;
      flex-grow: 1; }
  @media screen and (max-width: 767px) {
    .modal-body__info {
      margin-left: 0;
      margin-top: 20px; } }

.modal-body__description {
  padding: 20px 15px;
  background-color: #ededed; }

.modal-body__header {
  font-weight: 700; }

.modal-body__text {
  margin-top: 5px;
  font-weight: 300; }

.modal-description__bottom {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.modal-description__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .modal-description__item a {
    margin-left: 5px;
    color: #ff0257; }
    .modal-description__item a:hover {
      text-decoration: underline; }

.modal-body__interpreter {
  margin-left: 5px;
  color: #ff0257; }

.modal-body__table {
  margin-top: 50px;
  padding: 0 15px;
  max-width: 650px; }
  @media screen and (max-width: 767px) {
    .modal-body__table {
      padding: 0; } }

.bought-table__body {
  margin-top: 15px;
  font-weight: 700; }

.bought-table__row {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 991px) {
    .bought-table__row:not(:last-child) {
      margin-bottom: 10px; } }
  @media screen and (max-width: 767px) {
    .bought-table__row {
      -ms-flex-direction: column;
          flex-direction: column; }
      .bought-table__row:not(:last-child) {
        margin-bottom: 20px; } }

.bought-table__col {
  width: 33.333%; }
  @media screen and (max-width: 767px) {
    .bought-table__col {
      width: 100%;
      text-align: center; } }

.bought-table__link {
  font-weight: 400;
  color: #ff0257; }
  .bought-table__link:hover {
    text-decoration: underline; }

.modal__btn {
  margin: 50px 0 0 auto;
  width: 130px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  background-color: #e1b109;
  border: 2px solid #e1b109;
  transition: all 0.4s; }
  .modal__btn:hover {
    background-color: transparent; }

.settings {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .settings {
      display: block; } }

.settings-modal-body__settings {
  margin-bottom: 40px; }

.settings__block {
  min-width: 0;
  margin-left: 25px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 15px 0;
  background-color: #ededed; }
  @media screen and (max-width: 767px) {
    .settings__block {
      margin-left: 0; } }

.settings-slider {
  min-width: 0;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .settings-slider {
      min-height: 0; } }
  .settings-slider .slick-slide {
    margin: 0 10px; }
  .settings-slider .slick-list {
    margin: 0 -10px; }

.settings__view {
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media screen and (max-width: 767px) {
    .settings__view {
      margin: 0 auto 25px; } }

.settings-info {
  margin: 0 30px;
}
@media screen and (max-width: 767px) {
  .settings-info {
    text-align: center; }
  .settings--uploader {
    display: flex;
    flex-direction: column;
  }
  .settings--uploader .settings__view {
    margin: 25px auto 0;
    order: 2;
  }
}
.settings-header {
  margin-left: 30px;
  margin-bottom: 20px;
  font-weight: 700; }
  @media screen and (max-width: 767px) {
    .settings-header {
      margin-left: 0;
      text-align: center; } }

.settings-slide {
  width: 105px;
  margin: 0 auto; }

.settings-img-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 105px;
  height: 105px; }

.choose-link {
  margin-top: 5px;
  display: block;
  text-align: center;
  color: #ff0257;
  text-decoration: underline;
  outline: none; }

.set-sl-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none; }

.settings-prev {
  left: -40px;
  background: url("../images/tech_img/settings-al.png") center no-repeat; }

.settings-next {
  right: -40px;
  background: url("../images/tech_img/settings-ar.png") center no-repeat; }

.settings-slider {
  width: calc(100% - 80px);
  margin: 0 auto; }

.settings__frame {
  height: 200px;
  border: 20px solid transparent;
  -o-border-image: url(../images/tech_img/frame.png) 20 round;
     border-image: url(../images/tech_img/frame.png) 20 round; }
.settings__frame[data-class="xxx"],
.comment[data-class="xxx"] {
  border-image: url(../images/tech_img/border.png) 20 round;
}
.footer {
  padding: 20px 0 5px;
  background: linear-gradient(to bottom, #4c0a30, #1d143d); }

.footer-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  @media screen and (max-width: 767px) {
    .footer-menu {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }

.footer-menu__item {
  font-weight: 300;
  color: #fff; }
  .footer-menu__item:hover {
    text-decoration: underline; }
  .footer-menu__item:not(:last-child) {
    margin-right: 20px; }
    @media screen and (max-width: 767px) {
      .footer-menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px; } }

.footer-categories {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .footer-categories {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 30px; } }

.footer-categories__item {
  font-size: 14px;
  color: #fff; }
  .footer-categories__item:hover {
    text-decoration: underline; }
  .footer-categories__item:not(:last-child) {
    margin-right: 25px; }
    @media screen and (max-width: 767px) {
      .footer-categories__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px; } }

.copyright {
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}
